body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-page-component {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.header-content {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.image-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

#overlay-title {
    color: #fff;
    margin-bottom: 1em;
}

button{
    cursor: pointer;
}

footer {
    height: 100px;
    background-color: black;
    font-family:'Courier New', Courier, monospace;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

@media (max-width: 768px) {
    header {
        font-size: 1em; 
    }

    #overlay-title {
        font-size: 1.125em; 
    }
}

@media (max-width: 480px) {
    header {
        font-size: 0.875em; 
    }

    #overlay-title {
        font-size: 1em;
    }
}

.alert-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: none; 
}

.alert-popup-content {
    text-align: center;
}

.alert-popup-buttons {
    margin-top: 20px;
}

.alert-popup-buttons button {
    padding: 10px 20px;
    background-color: rgb(45,61,39);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.alert-popup-buttons button:hover {
    background-color: rgb(45,61,39);
}
